<launch>
  <node pkg="rviz" name="rviz" type="rviz" args="-d $(find multi_agent_planning)/rviz/config.rviz" />

  <node pkg="multi_agent_planning" name="planner" type="planner" output="screen"/>

  <node pkg="multi_agent_planning" name="agent_1" type="agent" args="agent_1 4 5 0"/>
  <node pkg="multi_agent_planning" name="agent_2" type="agent" args="agent_2 5 6 0"/>
  <node pkg="multi_agent_planning" name="agent_3" type="agent" args="agent_3 6 5 0"/>
  <node pkg="multi_agent_planning" name="agent_4" type="agent" args="agent_4 5 4 0"/>
  <node pkg="multi_agent_planning" name="agent_5" type="agent" args="agent_5 5 5 0"/>

  <node pkg="rosservice" name="agent_1_update_goal" type="rosservice" args="call /agent_1/update_goal 0 5 0"/>
  <node pkg="rosservice" name="agent_2_update_goal" type="rosservice" args="call /agent_2/update_goal 5 9 0"/>
  <node pkg="rosservice" name="agent_3_update_goal" type="rosservice" args="call /agent_3/update_goal 9 5 0"/>
  <node pkg="rosservice" name="agent_4_update_goal" type="rosservice" args="call /agent_4/update_goal 5 0 0"/>
  <node pkg="rosservice" name="agent_5_update_goal" type="rosservice" args="call /agent_5/update_goal 9 9 0"/>
</launch>
